<!-- <div class="col-md-3 col-xs-6"> -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{rental.image}} alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Whole {{ rental.category }} &#183; {{ rental.city }}</h6>
            <h4 class="card-subtitle mb-2 text-muted">{{ rental.title }}</h4>
            <p class="card-text">${{rental.dailyRate}} per Night &#183; Free Cancelation</p>
            <a href="#" class="card-link">More Info</a>
        </div>
    </div>
<!-- </div> -->